#project-card-github img{
    height: 30px;
}
.hover{
    height: 150px;
    width: 800px;
    object-fit:contain;
   
}
h3{
    display: flex;
    justify-content:space-around;
    margin-top: 5px;
}